:root {
  background-color: #000743;
}
@font-face {
  font-family: "CraftyGirls";
  src: url("../../public/CraftyGirls/CraftyGirls-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  transition: 0.3s;
}

h1 {
  font-family: "CraftyGirls", Helvetica;
  font-size: 6.75vw;
  font-weight: 400;
  transition: 0.3s;
}

h2 {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  transition: 0.3s;
}
h3 {
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  transition: 0.3s;
}

@media (max-width: 390px) {
  h1 {
    font-size: 6.75vw;
  }
  h2 {
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
  }
  h3 {
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
  }
}
