.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.competences {
  height: 100vh;
}

.apropos {
  height: 100vh;
}
.contact {
  height: 100vh;
}
.titleCompetences {
  color: #e48162;
}

/* Mobile */

@media (min-width: 390px) and (max-width: 428px) {
  .competences {
    height: 100vh;
  }

  .apropos {
    height: 100vh;
  }
  .contact {
    height: 100vh;
  }
  .titleCompetences {
    position: absolute;
    top: 84px;
    right: 135px;
    transition: 0.3s;
    transform: rotate(-45deg);
    color: #e48162;
  }
  .blueBg {
    background-color: #84dccf;
    height: inherit;
    transform: rotate(-45deg);
    position: absolute;
    width: 1014.68px;
    height: 729px;
    bottom: 83px;
    right: -335px;
    z-index: -1000;
  }
  .design {
    color: #000743;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 17px;
  }
  .jauges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .jaugeAr {
    width: 65px;
    height: 213px;
    background-color: #e48162;
  }
  .jaugeAv {
    background-color: #000743;
  }
  .jaugeText {
    align-items: center;
    font-weight: 400;
    font-size: 13px;
  }
  .jaugeContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .hr {
    border: none;
    margin: 10px 20px;
    height: 9px;
    background-color: #000743;
  }
  .dvp {
    margin: 10px 20px;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 80vw solid #f9c22e;
    transition: 0.3s;
  }

  .trianglePortfolio {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 80vw solid #f9c22e;
    transition: 0.3s;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .triangleBG {
    border-left: 26vw solid transparent;
    border-right: 26vw solid transparent;
    border-top: 51.2vw solid #f9c22e;
    position: absolute;
    top: calc(50% - 0vw);
    left: calc(50% - 24vw);
  }
  .triangleFG {
    border-left: 24vw solid transparent;
    border-right: 24vw solid transparent;
    border-top: 48vw solid rgb(0, 7, 67);
    position: absolute;
    top: calc(50% - -1vw);
    left: calc(50% - 22.1vw);
  }
}

@media (max-width: 390px) {
  /* ///////////////////////////////////////////// */
  .competences {
    height: 100vh;
  }

  .apropos {
    height: 100vh;
  }
  .contact {
    height: 100vh;
  }
  .titleCompetences {
    position: absolute;
    top: 84px;
    right: 135px;
    transition: 0.3s;
    transform: rotate(-45deg);
    color: #e48162;
  }
  .blueBg {
    background-color: #84dccf;
    height: inherit;
    transform: rotate(-45deg);
    position: absolute;
    width: 1014.68px;
    height: 721.68px;
    bottom: 83px;
    right: -335px;
    z-index: -1000;
  }
  .design {
    color: #000743;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 17px;
    transition: 0.3s;
  }
  .jauges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .jaugeAr {
    width: 65px;
    height: 213px;
    background-color: #e48162;
  }
  .jaugeAv {
    background-color: #000743;
  }
  .jaugeText {
    align-items: center;
    font-weight: 400;
    font-size: 13px;
  }
  .jaugeContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .hr {
    border: none;
    margin: 10px 20px;
    height: 9px;
    background-color: #000743;
  }
  .dvp {
    margin: 10px 20px;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 80vw solid #f9c22e;
    transition: 0.3s;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .triangleBG {
    border-left: 27.6vw solid transparent;
    border-right: 27.5vw solid transparent;
    border-top: 55vw solid #f9c22e;
    position: absolute;
    position: absolute;
    top: 54.8vw;
    left: 27.4vw;
  }
  .triangleFG {
    border-left: 26.6vw solid transparent;
    border-right: 26.5vw solid transparent;
    border-top: 53vw solid rgb(0, 7, 67);
    position: absolute;
    top: 55.6vw;
    left: 28.38vw;
  }
}
