.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.competences {
  height: 100vh;
}
.portfolio {
  height: 100vh;
}
.apropos {
  height: 100vh;
}
.contact {
  height: 100vh;
}
.titleCompetences {
  color: #e48162;
}

/* Mobile */

@media (min-width: 390px) and (max-width: 428px) {
  .competences {
    height: 100vh;
  }
  .portfolio {
    height: 100vh;
  }
  .apropos {
    height: 100vh;
  }
  .contact {
    height: 100vh;
  }
  .titleCompetences {
    position: absolute;
    top: 120px;
    right: 149px;

    transform: rotate(-45deg);
    color: #e48162;
  }
  .blueBg {
    background-color: #84dccf;
    height: inherit;
    transform: rotate(-45deg);
    position: absolute;
    width: 1014.68px;
    height: 741.68px;
    bottom: -27px;
    right: -335px;
  }
  .design {
    color: #000743;
    position: absolute;
    z-index: 1;
    left: 315px;
    top: 17px;
  }
}

@media (max-width: 390px) {
  .titleCompetences {
    right: 111px;
  }
  .blueBg {
    position: absolute;
    width: 1014.68px;
    height: 741.68px;
    bottom: -120px;
    right: -362px;
  }
  .design {
    color: #000743;
    position: absolute;
    z-index: 1;
    left: 303px;
    top: 17px;
  }
}
